.table-container {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  font-family: sans-serif;
  gap: 1rem;
}

.table-container > div {
  text-align: center;
}

.button-container {
  text-align: center;
}

button {
  margin: 1rem;
}